body 
{
    margin:0;
    background: rgb(96, 176, 255);
    font-family: monospace;
}
.header
{
    width:100%;
    height:120px;
    font-weight: bold;
}
.header img
{
    float:left;
    margin:10px;
    width:100px;
    height:100px;
    outline: 5px ridge rgb(68, 73, 190);
}
.header div
{
    color: aliceblue;
    line-height: 120px;
    font-size: 40px;
}
.navbar 
{
    background-color: #6399ff;
    text-align: center;
    margin: 10px auto;
    outline: 5px ridge rgb(68, 73, 190);
    max-width:960px; 
    height:50px;
}
.navbar li
{
    display: inline-block;
    font-size: 30px;
}
.navbar a 
{
    color: aliceblue;
    text-decoration: none;
    line-height: 50px;
    padding: 0px 40px;
}
.list
{
    color: aliceblue;
    background-color: #6399ff;
    outline: 5px ridge rgb(68, 73, 190);
    box-sizing: border-box;
    max-width:960px;
    margin: 10px auto;
    text-align: center;
}
.list ol li a
{
    text-decoration: none;
    color: aliceblue;
}
.column table 
{
	max-width:960px;
    margin: 0 auto;
	border: 2px solid rgb(59, 66, 224);
}
.column th 
{
    color: aliceblue;
	font-weight: bold;
	padding: 5px;
	background: #6399ff;
	border: 2px solid rgb(59, 66, 224);
}
.column td 
{
    color: aliceblue;
	border: 2px solid rgb(59, 66, 224);
	padding: 5px;
}
.column .odd{background-color: rgba(255, 245, 0, 0.29);}
.column .even {background-color: rgba(255, 29, 0, 0.46);}
.main-form
{
    color: aliceblue;
    max-width:960px;
    margin: 0 auto;
    background-color:#6399ff;
    outline: 5px ridge rgb(68, 73, 190);
    text-align: center;
}
.footer
{
    color: aliceblue;
    margin-top:20px;
    width:100%;
    background-color: black;
    height:20px;
    text-align: center;
    font-weight: bold;
}